
.container{
width: 100%;
line-height: 30px;
margin: auto;
max-width: max-content;
}

.title{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
}
.article_dates{
    width: 50%;
    font-size:14px;
    margin-left: 50px;
    margin-right: 50px;
}
.a2a_button_twitter{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.a2a_button_line{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.a2a_label_twitter{
    font-weight: bold;
    border: 1px groove;
    width: 40px; 
    height: 40px;
    border-color:gainsboro;
    background-color: aqua;
    margin: 10px;
    border-collapse: separate;
    border-spacing: 10px;
    
    margin-left: auto; /* 中央寄せにするため */
	margin-right: auto; /* 中央寄せにするため */
}
.a2a_label_line{
    font-weight: bold;
    border: 1px groove;
    width: 40px; 
    height: 40px;
    border-color:gainsboro;
    background-color: greenyellow;
    margin: 10px;
    border-collapse: separate;
    border-spacing: 10px;
    
    margin-left: auto; /* 中央寄せにするため */
	margin-right: auto; /* 中央寄せにするため */
}
.image{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.intro_explain{
    font-size: 15px;
    margin-left: 220px;
    margin-right: 220px;
}
.bold_explain{
    font-size: 15px;
    font-weight: bold;
    margin-left: 220px;
    margin-right: 220px;
}
.bold{
    font-size: 15px;
    font-weight: bold;
}
.border{
    display: block; 
    width: 900px;
    height: 280px;
    border: 1px dashed gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
.lists_arrange{
color:#66B821;
}

.small_articles{
    font-size: 24px;
    font-weight: bold;
    display: block; 
    width: 900px;
    height: 40px;
    border: 1px;
    background-color:#66B821;
    color: honeydew;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
.each-spot{
    font-size: 12px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}